/* || CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 2px solid blue; */
  /* background-color: hsla(0, 100%, 50%, 0.1); */
}
* {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
/* || VARIABLES */
:root {
  --BUTTON-COLOR: rgb(38, 85, 226);
  --TEXT-COLOR: hsl(0, 0%, 40%);
}

/* || GENERAL STYLES */
.form-container {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: auto 1fr auto 1fr 40px;
  height: 98vh;
  justify-content: center;
  justify-items: stretch;
  padding: 0.5rem 0rem;
}
select {
  background-color: transparent;
  border: none;
  color: var(--TEXT-COLOR);
  font-size: 0.9rem;
  justify-self: center;
}
figure {
  display: grid;
  place-items: center;
}
.input-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  row-gap: 12px;
}
input {
  border-radius: 10px;
  border: 0.1px solid gray;
  font-size: 1rem;
  font-weight: 450;
  padding: 1.3rem;
}
.login-btn {
  background-color: var(--BUTTON-COLOR);
  border-radius: 40px;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
}
.forgot-password {
  color: var(--TEXT-COLOR);
  justify-self: center;
  text-decoration: none;
}
.create-new {
  align-items: end;
  display: grid;
  justify-items: stretch;
}
.new-account-btn {
  background-color: transparent;
  border-color: var(--BUTTON-COLOR);
  border-radius: 40px;
  border-width: 1px;
  color: var(--BUTTON-COLOR);
  font-size: 1rem;
  padding: 0.8rem;
}
@media screen and (min-width:473px){

}